<%= form_for(@workout) do |f| %>

	<% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this awesome workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class "field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div> 
	
	<div class "field">
		<%= f.label :description, "Describe the workout" %><br />
		<%= f.text_area :description %>
	</div>

	<%= f.fields_for :setlists, [@workout.setlists.build, @workout.setlists.build, @workout.setlists.build,@workout.setlists.build,@workout.setlists.build] do |s| %>
	<div class "field">
		<%#= f.label :exercise, "Describe the workout" %><br />
		<%= s.select :exercise_id, Exercise.all.collect{|e| [e.name, e.id]} %>
	</div>
	<% end %><br />
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
