<p id="notice"><%= notice %></p>

<p> 
	<b>Name </b>
	<%= @workout.name %>
</p>

<p>
<% @workout.exercises.each do |exercise| %>	
	<p> 
		<%= link_to exercise.name, exercise%>
	</p>
<% end %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
