<p id="notice"><%= notice %></p>

<p>
	<div class ="page header"> 
		<h1><%= @workout.group.name %>: <%= @workout.name %></h1>
	</div>
</p>

<p>
<% @workout.exercises.each do |exercise| %>	
	<p> 
		<%= link_to exercise.name, exercise%>
	</p>
<% end %>
</p>


<%= link_to 'Do it!', new_user_workout_path(:workout_id => @workout), :class => "btn btn-primary"  %>
<%= link_to 'Edit', edit_workout_path(@workout), :class => "btn"  %>
<%= link_to 'Back', workouts_path, :class => "btn"  %>
