<h1>Workout History</h1>

<br/>

<% @user_workouts.each do |workout_id, workouts| %>
	<h3><%= Workout.find(workout_id).group.name %>: <%= Workout.find(workout_id).name %></h3>
	<table class="table table-striped">
  		<tr>	
			<th> Date</th>
			<% Workout.find(workout_id).exercises.each do |e| %>
			<th><%= e.name %></th>												
			<% end %>																					
  		</tr>
  		<% workouts.group_by{|w| "#{w.created_at.month}/#{w.created_at.day}/#{w.created_at.year}"}.each do |date, workouts_by_day|%>
		<tr>
			<td><%= date %></td>
			<% workouts_by_day.each do |w| %>
			<td><%= w.weight %></td>			
			<% end %>
  		</tr>
		<% end %>
	</table>
	<br/>
<% end %>

<%= link_to 'New User workout', new_user_workout_path %>
