
<div class="hero-unit">
	<h1>LiftApp</h1>
	<br/>
	<p class= "lead"> 
		LiftApp is a workout tracking app for 5x5 weight lifting workouts. Everything you need to know about LiftApp is right here, so let's get started. 
	</p>

<%= link_to "How to Use LiftApp", "#howto", :class => "btn btn-primary"  %>
<%= link_to "Features", "#features", :class => "btn btn-primary"  %>
<%= link_to "Coming Soon", "#soon", :class => "btn btn-primary"  %>
<%= link_to "Author", "#auth", :class => "btn btn-primary"  %>

</div>



<section id="howto">
<div class="page-header">
    <h1>How to use LiftApp <small> What the site does and how you can use it</small></h1>
</div>
<div>
<h3>What is a 5x5 workout? <small>It's a weight lifting routine that has you do 5 sets with 5 reps of compound muscle exercises.</small></h3>
</div>
<br/>
<div class="row">
	
</div>
 <br/>
<div class="row">


    <div class="span4">
      <h2>1. Check Out Exercises</h2>
      <p>LiftApp has a big list of exercises. Check it out. If you don't see the exercises you want, create them.</p>
      <p>When you add an exercise to the database every user can now see them and use them in their workouts.</p>
    </div>
    <div class="span4">
      <h2>2. Create a Group</h2>
      <p>I know what you're thinking! It's time to make a 5x5 out of my exercises. Groups of workouts let your organize your workouts. A common set of workouts in a groups is Day 1, Day 2, Day 3. So create a group first then add workouts to it.</p>

    </div>
  </div>
<div class="row">
    <div class="span4">
      <h2>3. Create a Workout</h2>
      <p>When you create a workout you select a group for it to belong to. No 5x5 workout should be done every day, you want to switch it up, so we have groups! Then you give your workout a name. Then you add your exercises.</p>
      <p>Once you create a workout every user can user can do it.</p>
    </div>
    <div class="span4">
      <h2>4. Do a Workout</h2>
      <p>When you see the workout list, click the name of the workout you want to do. Look for the <%= link_to "Do it!", "#howto", :class => "btn btn-primary"  %> button. </p>
      <p> When you are entering your workout weight, be sure to do five sets at that weight. Some folks vary the weight over five sets and take the average.
	
    </div>
  </div>

</section>


<br/>
<section id="features">
<div class="page-header">
    <h1>Features <small> LiftApp does some cool stuff that you should know about</small></h1>
</div>
<ul>
	<li>LiftApp is a mobile optimized website. Take it with you to the gym. Load it on your phone. It'll work great.</li>
	<li>Liftapp tracks your workout history so you know what you lifted when.</li>
	<li>Liftapp will tell you the last weight you did on an exercise so you don't have to remember</li>
	<li>Liftapp is super social, so if you make or fix a workout, group, or exercise other users will benefit!</li>
</ul>
</section>
<br/>
<section id="soon">
<div class="page-header">
    <h1>Coming Soon <small> We're gonna make LiftApp better. Here's how:</small></h1>
</div>
<ul>
	<li>Enter your reps individually while you work out! Store your reps AND the overall average for your set!</li>
	<li>Get psyched for an improved workout history experience</li>
	<li>Make groups from the create workout window</li>
	<li>Soon we'll expand beyond the 5x5 workouts and let users pick the number of exercise sets and reps for each exercise.</li>
	<li>Did someone say sexy charts? Oh snap!</li>
</section>
<br/>
<section id="auth">
<div class="page-header">
    <h1>Author <small> LiftApp was made by Gabe</small></h1>
</div>
<div class= "row">
	<div class="span4">
		<h3>Gabe</h3> is a project manager at <a href="http://www.attconsulting.com">Atto LLC</a>. When he's not developing rocking rails apps for his company, he likes to lift weights and (obviously) tinker with his own apps. Look for Gabe and his repos on awesome social networks like twitter and github @gabrielcdiaz.
	</div>
	<div class="span4">
		<h3>You</h3> can help with the app too. Check out the public the public github repo! It would be great to have a hand. So if you love Ruby on Rails and heavy things, lets make this happen.
	</div>
</div>

</section>
<br/>